# Ignore virtual environment
.venv/

.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.*

# VS Code settings
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test results
.pytest_cache/
nosetests.xml
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
